#about {
  width: 100vw;
  text-align: center;
  background-color: #a0a1a0;
  padding: 0 20px 20px;
  color: #1e3426;
  margin-top: 95px;
}

.about-container {
  display: flex;
}

.about1, .about2 {
  width: 47%;
  padding: 0 30px 10px;
  text-align: left;
  margin: 0 0 40px;
}
