#projects {
  text-align: center;
  background: #6d7f75;
  padding-bottom: 40px;
  width: 100%;
  z-index: 1;
}

#projects h2 {
  color: #1e3426;
  text-align: center;
  font-weight: 700;
  font-size: 1.8em;
  margin: 25px 0 25px;
  width: 100%;
}

.projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;;
  margin: auto;
  max-width: 1200px;
}

.each-project {
  position: relative;
  border: 2px solid #18261d;
  overflow: hidden;
  margin: 10px;
  max-width: 47%;
  min-width: 400px;
}

.each-project .project-image {
  display: block;
  width: 100%;
  height: 100%;
}

.each-project:hover .project-image {
  transition: all .5s;
  transform: scale(1.3)
}

.article-layer {
  background: rgb(206, 206, 206);;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
  opacity: 0;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.article-layer:hover {
  opacity: .9;
}

.article-layer h3 {
  padding: 25px 0 15px 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

.article-layer p {
  margin: 0 auto;
  text-align: left;
  width: 90%;
}

.article-layer .project-icons {
  padding: 10px;
  width: 60px;
}

.article-layer .project-button {
  position: relative;
  top: 30px;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background: #000;
  color: #FFF;
  cursor: pointer;
  outline: none;
}

@media (max-width:847px) {
  .each-project {
    min-width: 90%;
  }
}

@media (max-width:460px) {
  .article-layer h3 {
    margin-bottom: 0;
    font-size: 1.8em;
    padding-bottom: 5px;
  }
}

@media (max-width:375px) {
  .article-layer h3 {
    padding-top: 10px;
    font-size: 1.65em;
  }
  .article-layer .project-icons {
    padding: 10px;
    width: 50px;
  }
  scroll-btn {
    bottom: 0;
    position: absolute;
    right: 43%;
  }
}
