.code-icon, .testing-icon, .workflow-icon, .design-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 99px;
  background-color: #18261d;
}

.code-icon {
  mask-image: url('../../styles/images/code.svg');
}

.testing-icon {
  mask-image: url('../../styles/images/testing.svg');
}

.workflow-icon {
  mask-image: url('../../styles/images/workflow.svg');
  width: 101px;
}

.design-icon {
  mask-image: url('../../styles/images/design.svg');
}

.skills-block .inner-skills {
  width: 55%;
  padding-left: 25px;
}

.skills-block h4 {
  font-size: 1.2em;
  padding: 5px 0 15px 0;
  color: #334439;
}

.skills-block {
  display: flex;
  position: relative;
  margin: 10px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 425px;
}

.skills-wrapper {
  width: 100vw;
  background-color: #989f98;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#about h2 {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  color: #1e3426;
}
